@font-face {
    font-family: 'neue_kabellight';
    src: url('type/neue_kabel_light.woff') format('woff'),
         url('type/neue_kabel_light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }

@font-face {
    font-family: 'neue_kabelregular';
    src: url('type/neue_kabel_regular.woff') format('woff'),
         url('type/neue_kabel_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'neue_kabelbold';
    src: url('type/neue_kabel_bold.woff') format('woff'),
         url('type/neue_kabel_bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'neue_kabelblack';
    src: url('type/neue_kabel_black.woff') format('woff'),
         url('type/neue_kabel_black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'squircle_name';
    src: url('type/squircle_name.woff2') format('woff2'),
         url('type/squircle_name.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'squircle_name_outline';
    src: url('type/squircle_name_outline.woff2') format('woff2'),
         url('type/squircle_name_outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neue_kabelregular', "myriad-pro", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
    /*no select*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

*::-webkit-scrollbar {
    display:none
}



html {
    background-color: #000;
}




/* Header Styles */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 9vw;
    padding-right: 2vw;
}

nav a {
    color: #c7b299;
    -webkit-text-stroke-color: #a07857;
    -webkit-text-stroke-width: 0.06rem;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    font-family: neue_kabelbold;
    letter-spacing: 0.03rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

/* Center-align on mobile */
@media (max-width: 768px) {
    nav {
        justify-content: center;
        padding: 0 1rem;
    }
    
    nav a {
        padding: 0.5rem;
        font-size: 1.5rem;
        -webkit-text-stroke-width: 0.04rem;
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    }
}

nav a:hover {
    transform: scale(1.03);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

nav a:active {
    color: #c7b299;
    transform: scale(0.9);
    -webkit-text-stroke-color: #a07857;
}

 




/* Section Styles */
section {
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: #000;
    z-index: 1;
}









/* Home Section */
#home {
    background-color: #1a1a1a;
    color: white;
}

#home {
    height: 100vh;
    overflow: hidden;
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.bg, .fg, .fade, .txt {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.bg, .fg, .fade {
    object-fit: cover;
    z-index: -1;
}

.fg {
    z-index: 1;
}

.fade {
    z-index: 2;
    object-position: bottom;
}


.txt, .txt-blend {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    display: flex;
}


.txt-blend {
    mix-blend-mode: hard-light;
}


.subtitle {
    position: relative;
    font-size: max(2.6vw, 20px);
    padding-left: 38.7vw;
    padding-top: 9.3vw;
    color: #C7B299;
    letter-spacing: 0.1em;
    font-family: neue_kabellight;
}

@media(max-width:687px){
    .subtitle{
        font-size: 20px;
        padding-top: 63.5px;
        padding-left: 266px;
    }
}

@media(max-width:597px){
    .subtitle{
        font-size: 4vw;
        padding-left: 40vw;
        padding-top: 31vw;
    }
}



.hero-title {
    position: absolute;
    display: block;
    font-size: max(11.6vw, 80px);
    margin-right: 0.43em;
}

.txt-fg {
    font-family: 'squircle_name_outline';
    color: #C7B299;
    text-shadow: .01em .01em .03em rgba(0, 0, 0, 0.75);
}

.txt-bg {
    font-family: 'squircle_name';
    color: #998675;
}















/* Portfolio Section */
#portfolio {
    min-height: 100vh;
    max-height: none;
    overflow-y: auto;
}
#portfolio h2 {
    text-align: center;
    color: #C7B299;
    font-family: neue_kabelbold;
    font-size: 32px;
}

.portfolio {
    padding: 85.4px 0;
    overflow: hidden;
}

.the_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    max-width: 1500px;
    margin: 0 auto;
}

.grid-item {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.thumbnail-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background: linear-gradient(transparent, rgba(0,0,0,0.9));
    color: white;
    transform: translateY(0);
    transition: all 0.3s ease;
    z-index: 1;
}

.thumbnail-title h3 {
    font-family: neue_kabellight;
    font-size: 30px;
    margin-bottom: 0.5rem;
}

/*.thumbnail-title p {
    font-family: neue_kabelregular;
    font-size: 1rem;
    opacity: 0.8;
    margin: 0;
}*/

.grid-item:hover .thumbnail-title h3{
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.grid-item:hover img{
    transform: scale(1.03);
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.grid-item a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1499px) {
    .thumbnail-title h3 {
        font-size: 2vw
    }
}

@media (max-width: 768px) {
    .the_grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        padding: 1.5rem;
    }

    #portfolio h2{
        font-size: 25px;
    }

    .thumbnail-title h3 {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    .the_grid {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
    }
}











/* Contact Section */
#contact {
    color: white;
    padding: 85.4px 2rem;
    text-align: center;
}

#contact h2 {
    color: #C7B299;
    font-family: neue_kabelbold;
    font-size: 32px;
    padding-bottom: 40px;
}

#contact a {
    color: white;
    text-align: center;
}

#contact a:link, #contact a:visited, #contact a:hover, #contact a:active {
    text-decoration: none;
}

@media (max-width: 768px) {
    #contact h2{
        font-size: 25px;
    }
}